<head>
  <title>Shpee Dashboard - DankZone</title>
  <meta
    name="description"
    content="The best multi-purpose Discord bot for any Discord server."
  />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Include UICardio fonts -->
  <style>
    @font-face {
      font-family: "uicardio-font";
      src: url("/public/fonts/uicardio-light") format("woff");
      font-weight: 400;
      font-display: fallback;
    }

    @font-face {
      font-family: "uicardio-font";
      src: url("/public/fonts/uicardio-regular") format("woff");
      font-weight: 500;
      font-display: fallback;
    }

    @font-face {
      font-family: "uicardio-font";
      src: url("/public/fonts/uicardio-bold") format("woff");
      font-weight: 700;
      font-display: fallback;
    }
  </style>
  <!-- Include main stylesheet -->
  <link rel="stylesheet" href="/public/css/style.css" />
  <!-- Favicon -->
  <link
    rel="icon"
    href="https://cdn.dankzone.vercel.app/archive/dankzone/icons/faviconDZ.png"
    type="image/png"
  />
  <!-- Use a different simple scrollbar cos the default is ugly -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
  />
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
</head>
