<div class="footer py-5 border-top text-center">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <p class="mb-0">
          <a href="https://link.leodt.xyz/discord" class="p-3"
            ><i class="fab fa-discord fa-2x"></i
          ></a>
          <a href="https://twitter.com/LeoDoesThingz" class="p-3"
            ><i class="fab fa-twitter fa-2x"></i
          ></a>
          <a href="mailto:shpee@leodt.xyz" class="p-3"
            ><i class="fa fa-envelope fa-2x"></i
          ></a>
        </p>
      </div>
    </div>

    <hr class="rgba-black-light" style="margin: 0 15%;" />

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="https://github.com/LeoDoesThings/ShpeeBot/blob/master/LICENSE.md">
            License
          </a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/docs">Docs</a>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="mb-0">
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          <a href="https://leodt.xyz">LeoDT</a>, Licensed under
          <a href="https://github.com/LeoDoesThings/ShpeeBot/blob/master/LICENSE.md">
            AGPL-3.0
          </a>
          <br />
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          This web design was made with
          <i class="icon-heart" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</div>
