<header
  class="site-navbar py-md-4 js-sticky-header site-navbar-target"
  role="banner"
>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="align-items-start">
        <a class="col-6 align-left text-black h3 mb-0" href="/">
          <img
            width="50"
            class="rounded-circle"
            style="margin-bottom: 4px;"
            src="<%= bot.user.avatarURL %>"
          />
          <%= bot.user.username %>
        </a>
      </div>
      <div class="align-items-end">
        <a href="/dashboard" class="btn btn-primary">
          <i class="fas fa-sign-in-alt fa-fw"></i> Login/Sign Up
        </a>
      </div>
    </div>
    </div>
    </div>
  </div>
</header>
