<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('blocks/landing-head') %>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="site-wrap" id="home-section">
    <%- include('blocks/landing-header') %>
    <div class="site-blocks-cover">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12" style="position: relative;" data-aos="fade-up">
            <img alt="shpeetest" width="800" class="img-md-fluid img-absolute"
              src="https://cdn.dankzone.vercel.app/video/ShpeeTest.gif" />
            <div class="row mb-4">
              <div class="col-lg-4 mr-auto">
                <h1>Make your Discord server 10x better</h1>
                <p class="mb-5">
                  The only bot you'll ever need on your Discord server.
                  Everyone in your server will like at least something about
                  Shpee.
                </p>
                <div>
                  <a href="/dashboard" class="btn btn-primary mr-2 mb-2">
                    <i class="fas fa-sign-in-alt fa-fw"></i> Login/Sign Up
                  </a>
                  <a href="/docs" class="btn btn-primary mr-2 mb-2">
                    <i class="fas fa-book fa-fw"></i> Documentation
                  </a>
                </div>
                <div>
                  <a href="https://www.codefactor.io/repository/github/leodoesthings/shpeebot"><img
                      src="https://www.codefactor.io/repository/github/leodoesthings/shpeebot/badge"
                      alt="CodeFactor" /></a>
                  <a href="https://github.com/LeoDoesThings/ShpeeBot/blob/master/LICENSE.md"><img alt="GitHub"
                      src="https://img.shields.io/github/license/LeoDoesThings/ShpeeBot"></a>
                  <a href="https://github.com/LeoDoesThings/ShpeeBot/releases/latest"><img
                      alt="GitHub release (latest by date)"
                      src="https://img.shields.io/github/v/release/LeoDoesThings/ShpeeBot"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Features</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span><i class="fas fa-book fa-fw"></i></span></span>
              </div>
              <div>
                <h3>Documentation</h3>
                <p>
                  Shpee has got a
                  <a href="https://shpeebot.github.io/docs">commands documentation</a> right here on the
                  dashboard and
                  <a href="https://shpeebot.github.io/docs/#getting-started">
                    self-hosting docs
                  </a>
                  on the GitHub repo.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span><i class="fas fa-atlas fa-fw"></i></span></span>
              </div>
              <div>
                <h3>Moderation Commands</h3>
                <p>
                  <br />Got some annoying users in your server? Shut them up
                  with
                  <a href="https://shpeebot.github.io/docs/commands.html">
                    Shpee's moderation commands
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span><i class="fas fa-music fa-fw"></i></span></span>
              </div>
              <div>
                <h3>Music Commands</h3>
                <p>
                  Shpee has music commands built in. Just enable it in the
                  <a href="https://shpeebot.github.io/docs/configuration.html">config settings</a>
                  and enjoy YouTube music videos, playlists, and livestreams.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span><i class="fab fa-github fa-fw"></i></span></span>
              </div>
              <div>
                <h3>Open-Source</h3>
                <p>
                  Wow just like every other Discord bot these days. Check out
                  Shpee's
                  <a href="https://github.com/LeoDoesThings/ShpeeBot/">open-source repo on GitHub</a>. Licensed under the
                  <a href="https://github.com/LeoDoesThings/ShpeeBot/blob/master/LICENSE.txt">BSD-3 Clause</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span><i class="fas fa-question-circle fa-fw"></i></span></span>
              </div>
              <div>
                <h3>Support</h3>
                <p>
                  <br />Get support on the bot through our
                  <a href="https://link.leodt.xyz/discord">Discord server</a>
                  or through <a href="mailto:support@leodt.xyz">email</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span><i class="fas fa-plug fa-fw"></i></span></span>
              </div>
              <div>
                <h3>Public Bot</h3>
                <p>
                  Don't have a computer to self-host Shpee? Just
                  <a href="https://link.leodt.xyz/inviteshpee">invite the public Shpee bot</a>
                  to your Discord server and enjoy all of Shpee's great
                  features.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-big">
      <div class="container">
        <div class="mt-5 row mb-5 site-section">
          <div class="col-lg-7 order-1 order-lg-2">
            <img src="https://cdn.dankzone.vercel.app/img/shpeebrofist.png" alt="Image" class="img-fluid" />
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1" style="margin-top: 0;">
            <h2 class="text-black">Features</h2>
            <ul class="ul-check mb-5 list-unstyled success">
              <li>Moderation</li>
              <li>Music</li>
              <li>Fun</li>
              <li>Welcome Message</li>
              <li>Swear Filter</li>
              <li>Debug Mode</li>
              <li>Audit Log</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Open Source</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6">
            <img src="https://cdn.dankzone.vercel.app/img/shpeegithub.png" alt="GitHub Repo"
              class="img-fluid mb-5 mb-lg-0 rounded shadow" />
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4">Shpee is open-source on GitHub!</h2>
            <p class="mb-4">
              ShpeeBot isn't related to TF2 at all, but it is hiding in plain
              sight, just like a spy.<br />
              <br />
              All of ShpeeBot's code is open-source on GitHub and is freely
              available for you to contribute to (or steal) for your own
              purposes!
            </p>
            <p>
              <a href="https://github.com/LeoDoesThings/ShpeeBot" class="btn btn-primary">
                <i class="fab fa-github"></i> - Repository
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('blocks/landing-footer') %>
  </div>

  <%- include('blocks/landing-scripts') %>
</body>

</html>